
<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Members Join !</h1>
	</div>
	<div class="panel-body">
		<form name="myForm" class="form-horizontal" ng-submit="onSubmit()">
			<div class="form-group">
				<label class="col-sm-2 control-label">ID:</label>
				<div class="col-sm-10">
					<input name="id" type="email" ng-model="memberTemp.id"
						placeholder="Your email ID" ng-required="valid.id.required">
					<span class="error" ng-show="!myForm.id.$valid">{{valid.id.message}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Name: </label>
				<div class="col-sm-10">
					<input name="name" type="text" ng-model="memberTemp.name"
						placeholder="Your Name" ng-minlength="valid.name.minLength" ng-maxlength="valid.name.maxLength" ng-required="valid.name.required">
					<span class="error" ng-show="!myForm.name.$valid">{{valid.name.message}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Password: </label>
				<div class="col-sm-10">
					<input name="password" type="password"
						ng-model="memberTemp.password" placeholder="Your Password"
						ng-required="valid.password.required"> <span class="error"
						ng-show="!myForm.password.$valid">{{valid.password.message}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">PW Confirm: </label>
				<div class="col-sm-10">
					<input type="password" ng-model="confirmPassword"
						placeholder="Confirm Password" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Gender</label>
				<div class="col-sm-10">
					<label>Male </label><input type="radio" name="sex"
						ng-model="memberTemp.sex" value="m"> <label>Female</label><input
						name="sex" type="radio" ng-model="memberTemp.sex" value="w">
					<span class="error" ng-show="!myForm.sex.$valid">{{valid.sex.message}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<input type="submit" id="submit" class="btn" value="Confirm" />
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<h4>Welcome to Join !</h4>
	</div>
</div>